<h1>Enter Stuff</h1>

<form class="" action="index.html" method="post">
  <input type="text" name="tinderId" placeholder="Tinder" value="">
  <input type="text" name="facebookId" placeholder="Facebook" value="">
  <input type="text" name="token" placeholder="Token" value="">
  <input type="submit" name="name" value="">
</form>

<script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
<script type="text/javascript">
  $(function() {
    $('form').on('submit',function(event) {
      event.preventDefault();
      submitData();
    })
  })
  function submitData() {
    var token = $('input[name="token"]').val();
    var fbId = $('input[name="facebookId"]').val();
    $.ajax({
      method: "POST",
      url: '/api/facebook/update/the/token/please',
      data: {
        fbKey: token,
        fbId: fbId
      },
      success: function(res) {
        console.log('ay',res)
      },
      error: function(err) {
        throw new Error("Failed Post: ", err);
      }
    })
  }

</script>
