<div class="container user-profile">
  <flash-message duration="5000" show-close="true"></flash-message>
  <div class="panel center-form ">
    <div class="panel-heading"><h2>Profile</h2></div>
    <div class="panel-body">
      <legend><i class="ion-clipboard"></i> Edit My Profile</legend>
      <form method="post" ng-submit="updateProfile(user)">
        <div class="form-group">
          <label class="control-label"><i class="ion-person"></i>Username</label>
          <input type="text" class="form-control" ng-model="user.username" />
        </div>
        <div class="form-group">
          <label class="control-label"><i class="ion-at"></i> Email Address</label>
          <input type="email" class="form-control" ng-model="user.email" />
        </div>
        <button class="btn btn-lg btn-success">Update Information</button>
      </form>
    </div>
  </div>

  <div class="panel center-form tinderizer">
    <div class="panel-heading"><h2>Add Tinder</h2></div>
    <div class="panel-body">
      <legend><i class="ion-clipboard"></i> TinderAccount</legend>
      <form method="post" ng-submit="tinderizer(fb)">
        <div class="form-group">
          <label class="control-label"><i class="ion-person"></i>Facebook Email Address</label>
          <input type="text" class="form-control" ng-model="fb.email" placeholder="Enter your facebook email address" />
        </div>
        <div class="form-group">
          <label class="control-label"><i class="ion-at"></i> Facebook Password</label>
          <input type="password" class="form-control" ng-model="fb.password" placeholder="Enter your facebook password"/>
        </div>
        <button class="btn btn-lg btn-success"> GET TINDERIZING</button>
      </form>
    </div>
  </div>

  <div ng-if="myAccount" class="panel panel-primary match-panel" data-id='{{ myAccount.id }}' data-fake-account-id='{{myAccount.fake_account_id}}'>
      <h3 class="">
          {{ myAccount.name }}
      </h3>
      <div class="match-photo">
          <img ng-src="{{ myAccount.photo_url }}" alt="{{ myAccount.name}}" ng-click="open('lg',myAccount.id, myAccount.name)">
      </div>
      <div class="match-info">
        <h4>{{ myAccount.gender == 1 ? "Female" : "Male" }} | {{ myAccount.age }}</h4>
        <div class="match-bio">
            <h5>{{ myAccount.bio.slice(0,255) }}</h5>
        </div>
      </div>
  </div>


</div>
