<div class="container">
  <flash-message duration="5000" show-close="true"></flash-message>
  <div class="panel center-form ">
    <div class="panel-heading"><h2>Profile</h2></div>
    <div class="panel-body">
      <legend><i class="ion-clipboard"></i> Edit My Profile</legend>
      <form method="post" ng-submit="updateProfile(user)">
        <div class="form-group">
          <label class="control-label"><i class="ion-person"></i>Username</label>
          <input type="text" class="form-control" ng-model="user.username" />
        </div>
        <div class="form-group">
          <label class="control-label"><i class="ion-at"></i> Email Address</label>
          <input type="email" class="form-control" ng-model="user.email" />
        </div>
        <button class="btn btn-lg btn-success">Update Information</button>
      </form>
    </div>
  </div>


</div>
