.chat-window {
  display: inline-block;
  width: 100%;
  border: 1px solid silver;
  box-shadow: 0 8px 17px rgba(0, 0, 0, 0.5);
  padding-bottom: 2%;
  form {
    width: 100%;
  }
  input[type="text"] {
    width: 62%;
    height: 40px;
    margin-top: 2px;
    font-size: 16px;
    display: inline-block;
  }
  input[type='submit'] {
    margin-top: -4px;
    margin-left: 6px;
    width: 34%;
    margin-top: -4px;
    margin-left: 6px;
    height: 38px;
    display: inline-block;
  }
  .current-responses {
    width: 100%;
    height: 515px;
    background-color: #fff;
    border-top: 2px solid #f2f2f2;
    border-left: 2px solid #f2f2f2;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }

  .arrows {
    position: relative;
    top: 11px;
    display: inline-block;
    width: 4%;
    text-align: center;
  }
  .votes {
    font-family: Arial, sans-serif;
    font-weight: 700;
    font-size: 1.4em;
    color: $primaryColor;
  }

  .arrow-up {
    width: 0;
  	height: 0;
  	border-left: 10px solid transparent;
  	border-right: 10px solid transparent;
  	border-bottom: 10px solid $primaryColor;
    margin: 0 auto;
    &:hover {
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid $secondaryColor;
    }
  }

  .arrow-down {
    margin: 0 auto;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid $primaryColor;
    &:hover {
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid  $secondaryColor;
    }
  }

  .response {
    border-bottom: 2px solid #f2f2f2;
    background-color: #fff;
    margin-bottom: 3px;
  }

  .response-text {
    display: inline-block;
    width: 80%;
    vertical-align: text-top;
    min-height: 60px;
    p {
      font-family: Futura, Georgia, Serif;
      word-wrap: break-word;
      color: $primaryColor;
      font-size: 1.2em;
      line-height: 1.33;
      position: relative;
      top: 10%;
      left: 7%;
    }
  }

  .score-box {
    background-color: orange;
    border: 1px solid black;
    border-radius: 20px;
    vertical-align: center;
    display: inline-block;
    width: 10%;
    height: 20px;
    text-align: center;
    float: right;
  }

}
