.chat-window {
  display: inline-block;
  width: 100%;
  form {
    width: 100%;
  }
  input[type="text"] {
    width: 62%;
    height: 40px;
    margin-top: 2px;
    font-size: 16px;
  }
  input[type='submit'] {
    width: 30%;
    margin-top: -4px;
    margin-left: 6px;
    height: 50px;
  }
  .current-responses {
    width: 100%;
    margin-top: 1%;
    bottom: 0;
    height: 575px;
    background-color: gainsboro;
    border-top: 2px solid #f2f2f2;
    border-left: 2px solid #f2f2f2;
    overflow-y: scroll;
  }

  .arrows {
    position: relative;
    top: 11px;
    display: inline-block;
    width: 4%;
    text-align: center;
  }
  .votes {
    font-family: Arial, sans-serif;
    font-weight: 700;
    font-size: 1.4em;
    color: $primaryColor;
  }

  .arrow-up {
    width: 0;
  	height: 0;
    margin-left: 26%;
  	border-left: 10px solid transparent;
  	border-right: 10px solid transparent;
  	border-bottom: 10px solid $primaryColor;
    &:hover {
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-bottom: 10px solid $secondaryColor;
    }
  }

  .arrow-down {
    width: 0;
    height: 0;
    margin-left: 26%;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid $primaryColor;
    &:hover {
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      border-top: 10px solid  $secondaryColor;
    }
  }

  .response {
    border-bottom: 2px solid #f2f2f2;
    background-color: #fff;
    margin-bottom: 3px;
  }

  .response-text {
    display: inline-block;
    width: 80%;
    vertical-align: text-top;
    min-height: 60px;
    p {
      font-family: Arial, sans-serif;
      word-wrap: break-word;
      color: $primaryColor;
      font-size: 1.4em;
      line-height: 1.33;
      position: relative;
      top: 10%;
      left: 7%;
    }
  }

  .score-box {
    background-color: orange;
    border: 1px solid black;
    border-radius: 20px;
    vertical-align: center;
    display: inline-block;
    width: 10%;
    height: 20px;
    text-align: center;
    float: right;
  }

}

.enjoy-css {
  display: inline-block;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  padding: 6px 20px;
  border: none;
  -webkit-border-radius: 32px / 54px;
  border-radius: 32px / 54px;
  font: normal 18px/normal "Coda", Helvetica, sans-serif;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  background: rgba(252,252,252,1);
  -webkit-box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2) inset;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.2) inset;
  -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

.enjoy-css:hover {
  -webkit-box-shadow: 0 2px 2px 0 rgba(90,90,90,0.2) inset;
  box-shadow: 0 2px 2px 0 rgba(90,90,90,0.2) inset;
}
