#clock {
  background-color: gainsboro;
  margin-top: 4px;
  font-size: 6.1rem;
  text-align: center;
  color: $primaryColor;
  width: 33%;
  margin: 0 auto;
  box-shadow: 1px 1px black;
  border-radius: 10px;
}
