* {
  font-family: Helvetica Neue, Futura,georgia,sans-serif;
}

.container {
  ul.pagination {
    height: 34px;
    margin: 0 auto;
    margin-top: 14px;
    padding-left: 32%;
    display: block;
  }
}

div .match-panel {
  border-color: $primaryColor;
  border-width: 3px;
  background-color: #FFF;
  border-radius: 2px;
  box-shadow: 0 8px 17px rgba(0, 0, 0, 0.5);
}

.panel {
  margin-top: 6%;
  min-height: 540px;
  text-align: center;
  h3 {
    font-family: Helvetica Neue;
  }
  img {
    max-height: 166px;
    width: 50%;
    border-radius: 100px;
    margin-top: 3%;
  }
}
.match-info {
  h4 {
    font-size: 1.5em;
    font-family: Helvetica;
  }
}
.match-bio {
  h5 {
    padding: 0 5%;
    height: 175px;
    font-size: 1.3em;
    font-family: Helvetica;

  }
}
