.iphone-container {
  div {
    display: inline-block;
    max-height: 500px;
    position: relative;
    width: 47%;
    left: 0%;
  }
  img {
    position: absolute;
    background-color: #fff;
    left: 10px;
    top: 70px;
    z-index: -2;
  }
  .iphone-background {
    width: 322px;
    position: absolute;
    top: 195px;
    min-height: 550px;
    max-height: 550px;
    left: 31px;
    background-color: #FFF;
    overflow: scroll;
    z-index: -1;
  }
  .match-name {
    text-align: center;
    background-color: #fff;
    font-weight: 400;
    font-size: 1.5em;
    width: 322px;
    height: 37px;
    border-bottom: 1px solid grey;
    position: absolute;
    top: 160px;
    left: 31px;
  }
}


// /* COPIED IPHONE TEXT SCREEN CSS from http://cssdeck.com/labs/iphone-text-message-screen/ */

  .white-shadow {
    padding: 2px 8px 4px;
    margin: 0;
    border-radius: 24px;
  }

.text-left, .text-right p {
  font-family: Helvetica Neue, Futura, Georgia, Serif;
}

.text-left {
  background-color: rgb(222,223,229);
  border-radius: 15px;
  font: 1.05em Helvetica Neue, Arial, sans-serif;
  margin: 1em 51% 1em 0;
  padding: 0 4px;
  position: relative;
  border-width: 1px;
  border-color: #fff transparent;
  border-style: solid;
  font: sans-serif;
}
.text-right {
    background-color: rgb(21,107,250);
    border-radius: 15px;
    font: 1.05em Helvetica Neue, Arial, sans-serif;
    margin: 1em 0 1em 51%;
    padding: 0 4px;
    position: relative;
    border-width: 1px;
    border-color: #fff transparent;
    border-style: solid;
    color: #FFF;
}
