header {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: silver;
  padding: 0.4% 0;
  display: block;
  h1 {
    color: white;
    font-weight: 800;
    letter-spacing: 1px;
    font-family: 'Arial','georgia','san serif';
    display: inline-block;
    margin: 5px 0;
    font-weight: 100;
    span {
      font-weight: 800;
    }
  }
  a {
    float: left;
    color: white;
    padding-left: 1%;
    margin-top: 1%;
    &:hover {
      color: white;
    }
  }

}
