nav {
  .container-fluid {
    background-color: $primaryColor;
  }
  .navbar-brand {
    font-size: 2em;
    font-weight: 800;
    letter-spacing: 1px;
    font-family: 'Arial','georgia','san serif';
    display: inline-block;
    margin: 5px 0;
    span {
      font-weight: 100;
    }
  }
  #title {
    color: #fff;
  }
  a {
    float: left;
    color: white;
    padding-left: 1%;
    margin-top: 1%;
    &:hover {
      color: white;
    }
  }
}

.navbar-default .navbar-nav>li>a {
  color: #FFF;
}
.dropdown-menu>li>a {
  width: 100%;
}
