li.list-group-item {
  color: #4078c0;
  font-size: 1.4em;
  div {
    display: inline-block;
  }
  img {
    width: 55px;
    height: 55px;
    border-radius: 100%;
    vertical-align: sub;
  }
  span {
    color: #767676;
    font-size: 0.75em;
  }
}

ul.list-group {
  overflow-y: scroll;
  height: 730px;
  border: 1px solid silver;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
