@media (min-width: 1151px) and (max-width: 1300px) {
  .second-column {
    width: 40%;
    margin-left: 5%;
    form {
      text-align: center;
    }
    form input[type='text'] {
      width: 90%;
    }
    form input[type='submit'] {
      margin-top: 2px;
    }
  }
  .third-column {
    width: 22%;
  }
  #clock {
    width: 50%;
  }
}

@media (min-width: 1025px) and (max-width: 1150px) {
  .second-column {
    margin-left: 9.4%;
    width: 40%;
    form {
      text-align: center;
    }
    form input[type='text'] {
      width: 90%;
    }
    form input[type='submit'] {
      margin-top: 2px;
    }
  }
  #clock {
    width: 50%;
  }
  .third-column {
    width: 21%;
  }
}

@media (min-width: 761px) and (max-width: 1024px) {
  navbar.tool-bar {
    display: block;
    width: 100%;
    height: 50px;
    background-color: $primaryColor;
    ul {
      margin: 0;
    }
    li {
      display: inline-block;
      width: 49.5%;
      height: 50px;
      text-decoration: none;
      text-align: center;
      margin: 0;
    }
    li:first-child {
      border-right: 2px solid #fff;
    }
    a {
      color: #fff;
      font-size: 2em;
    }
  }
  .iphone-container {
    img {
      top: 120px;
      left: 10%;
    }
    .iphone-background {
      top: 210px;
      left: 13%;
    }
  }
  .second-column {
    display: none;
    width: 65%;
    position: absolute;
    margin-left: 1%;
    .current-responses {
      height: 450px;
    }
  }

  .third-column {
    width: 30%;
    margin-right: 1%;
    position: absolute;
    left: 68%;
  }

}

@media (min-width: 200px) and (max-width: 760px) {
  nav {
    display: none;
  }
  navbar.tool-bar {
    display: block;
    width: 100%;
    height: 40px;
    background-color: $primaryColor;
    ul {
      margin: 0;
      padding: 0;
    }
    li {
      display: inline-block;
      width: 32.5%;
      height: 40px;
      text-decoration: none;
      text-align: center;
      margin: 0;
    }
    li:nth-child(2) {
      border-right: 2px solid #fff;
      border-left: 2px solid #fff;
    }
    a {
      color: #fff;
      font-size: 1.5em;
    }
    li:last-child {
      display: inline-block;
    }
  }
  .second-column {
    display: none;
    width: 98%;
    margin-left: 1%;
    #clock {
      width: 100%;
      font-size: 2em;
    }
    .current-responses{
      height: 400px;
    }
    .chat-window {
      margin-top: 1%;
    }
    input[type="text"] {
      width: 50%
    }
  }
  .third-column {
    display: none;
    width: 90%;
    margin-left: 4%;
    ul.list-group {
      height: 400px;
    }
  }
  .iphone-container {
    img {
      display: none;
    }
    .iphone-background {
      background-color: gainsboro;
      top: 55px;
      width: 86%;
      min-height: 475px;
      max-height: 475px;
    }
  }

  footer.back-to-home {
    display: block;
    position: fixed;
    display: block;
    top: 534px;
    margin-left: 31%;
    button {
      width: 100%;
      background-color: $primaryColor;
    }
    button:hover {
      background-color: $secondaryColor;
    }
    a {
      color: white;
    }
  }

  .container ul.pagination {
    padding-left: 0;
  }
}
