<div class="jumbotron container">
  <h1>Help me get a date!!</h1>
  <p>I'm a simple programmer that is having the hardest time on TINDER! Help me land one for the team. <br>All of the <a href="/#/">Matches</a>  are my actual matches through Tinder.  When you click on one, you see three things: <br> 1). Actual conversations (iphone) <br> 2). Suggestion window (middle) <br>3). Most Recent Chats with Tinderettes (right) </p>
  <p>
    What to do:
    Suggest a message in the middle window.  The timer at the top is the amount of time before a new message is sent.  The highest upvoted message is sent on every 5 minute mark.
  </p>
  <p><a class="btn btn-primary btn-lg btn-success" href="/#/" role="button">HELP ME DATE</a></p>

  <p>
    DISCLAIMER: DO NOT DO ANYTHING ILLEGAL.  I am not responsible for the actions of others.
  </p>
</div>
