  <div class="first-column">

    <section class="iphone-container">
        <img src="images/phone-case.png" alt="iphone-case" />
        <div class="match-name">
          <a><span ng-cloak ng-click="getMatchInfo()">{{match.name}}</span></a>
        </div>
        <div class="iphone-background" scroll-bottom="messages">
          <div ng-repeat="msg in messages" class="{{msg.received === true ? 'text-left' : 'text-right' }}">
              <p class="white-shadow" data-conversation-id="{{msg.id}}">
                 {{ msg.message }}
                 <span ng-if="$last" ng-init="getResponses(msg.id)"></span>
              </p>
          </div>
        </div>
    </section>

    <section class="matches">

    </section>
    <footer class='back-to-home no-show'>
      <button type="button" class='btn btn-lg' name="button"><a href="/#/">Back to Matches</a></button>
    </footer>
  </div>

<!-- </div> -->


<!-- <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12"> -->
  <!-- <ng-include src="'chat-window.html'"></ng-include> -->
<div class="second-column">
  <flash-message duration="5000" show-close="true"></flash-message>
  <section id="clock" ng-if='secondsLeftToSend' timer='' seconds='{{secondsLeftToSend}}'></section>
  <div class="chat-window" id="chat-window">
      <div class='current-responses' id="current_responses">
          <div ng-repeat="resp in responses | orderBy: '-total_votes'" class="response">
              <div class="arrows">
                  <div class="arrow-up" ng-click-once="submitUpvote(resp.id)"></div>
                      <div class='votes'>{{resp.total_votes}}</div>
                  <div class="arrow-down" ng-click-once="submitDownvote(resp.id)"></div>
              </div>
              <div class="response-text" data-conversation-id="{{resp.conversation_id}}">
                  <p>{{resp.response_text}}</p>
              </div>
          </div>

      </div>
      <form>
          <input class="form-control" type="text" name="name" ng-model="newResponse"  placeholder="Submit a message to send to this match!">
          <input type="submit" class='btn btn-success' name="submit" value="Submit" id="submit" ng-click="submitResponse(newResponse)">
      </form>
  </div>
</div>

<div class="third-column">
  <ul class="nav nav-tabs nav-justified">
    <li role="presentation" ng-class="{active: mostRecentShow}"><a ng-click="mostRecent()">Most<br> Recent<br> Matches</a></li>
    <li role="presentation" ng-class="{active: groupChatShow}"><a ng-click="showGroupChat()">Chat <br>with <br> Gartners</a></li>
  </ul>
  <ul ng-if="mostRecentShow" class='list-group' ng-show="mostRecentConvos">
    <li class='list-group-item' ng-repeat="recent in mostRecentConvos">
      <div class="">
        <img ng-src="{{recent.photo_url}}" alt="" />
      </div>
      <div class="">
        <a href="/#/account/{{recent.fake_account_id}}/match/{{recent.target_id}}/messages">{{recent.name}}</a>
        <br>
        <span> {{recent.sent_date | amTimeAgo}} </span>
      </div>
    </li>
  </ul>
  <div class="gartner-chats" ng-if="groupChatShow">
    <ul>
      <li ng-repeat="chat in currentChats | orderBy: 'created_at'">
        <span>[{{chat.username}}]:</span>
        <span ng-if="chat.roomId !== $routeParams.targetId"><strong>Global</strong></span>
        <span class="chat-text">{{chat.text}}</span><br>
        <span class="chat-date">{{chat.created_at | amTimeAgo}}</span>
      </li>
    </ul>
    <form ng-submit="sendChat(chat); clearText();">
      <input id="chatBox" class="form-control" type="text" name="name" ng-model="chat" placeholder="Send To Fellow Gartners">
      <button type="submit" name="name" class="chat-btn btn btn-lg btn-info"  value="submitResponse">Submit</button>
    </form>
  </div>


</div>

<footer class="tool-bar no-show">
  <ul>
    <li ng-class="{active: iphoneShow}"><a href="" ng-click="showIphone()">Actual</a></li>
    <li ng-class="{active: chatShow}"><a href="" ng-click="showChats()">Suggested</a></li>
    <li ng-class="{active: recentShow}"class="no-show"><a href="" ng-click="showRecent()">Recent</a></li>
  </ul>
</footer>

<!-- </div> -->
